Repository eoscostarica/eos-rate, pull requests merged in 2020-03, with the labels that each got.

#316 Add hapi validations
  services/hapi/package-lock.json
  services/hapi/package.json
  services/hapi/src/index.js
  services/hapi/src/libs/sync-bp-stats.js
  services/hapi/src/libs/sync-user-rating.js
  services/hapi/src/libs/valid-account-name.js
  services/hapi/yarn.lock
Labels: backend

#318 Secure graphql
  docker-compose.yml
  services/demux/local.env
  services/hasura/.gitignore
  services/hasura/config.yaml
Labels: backend, security

#333 Fix/header buttons
  services/frontend/src/components/app-bar.js
  services/frontend/src/components/language-select.js
Labels: design-ux, front-end

#348 update acorn dependancies
  services/demux/yarn.lock
  services/hapi/yarn.lock
Labels: security

#347 add proxies table and script
  services/hapi/src/libs/sync-proxies.js
  services/hasura/migrations/1584293813117_create_table_public_proxies/down.yaml
  services/hasura/migrations/1584293813117_create_table_public_proxies/up.yaml
Labels: proxies

#352 Clear ratings for inactive producers
  contracts/rateproducer/README.md
  contracts/rateproducer/rateproducer.cpp
  contracts/tests/package.json
  contracts/tests/test.js
  contracts/tests/test_average.js
  contracts/tests/test_unreg_bp.js
Labels: smart-contracts
