Repository eoscostarica/eos-rate, pull requests merged in 2020-01, with the labels that each got.

#231 Issue 226 User cannot push partials ratings
  contracts/eoseosrateio/eoseosrateio.cpp
Labels: smart-contracts

#243 docs(architecture) Update architecture diagram
  docs/EOS-Rate-Diagram.xml
  docs/architecture.png
  readme.md
Labels: docs

#246 refactor(FE): add footer legend (update footer)
  services/frontend/src/components/main-footer.js
  services/frontend/src/language/en.json
  services/frontend/src/language/es.json
Labels: design-ux, front-end

#253 Rename contract eoseosrateio --> rateproducer
  services/demux/src/index.js
  services/frontend/src/config/index.js
  services/frontend/src/routes/block-producers/block-producer-rate.js
  services/frontend/yarn.lock
  yarn.lock
Labels: smart-contracts

#245 services(demux) update packages
  services/demux/package.json
  services/demux/yarn.lock
Labels: security

#244 services(bp-updater) Remove demux in favor of updater cron job
  docker-compose.staging.yml
  docker-compose.yml
  readme.md
  services/demux/.dockerignore
  services/demux/.gitignore
  services/demux/Dockerfile
  services/demux/src/ObjectActionHandler.js
  services/demux/src/handlerVersions/v1/index.js
  services/demux/src/index.js
  services/demux/utils/wait
  services/update-bps/index.js
  services/update-bps/package.json
  services/update-bps/yarn.lock
Labels: demux, devops, optimization

#273 Fix/tooltips description 269
  services/frontend/src/language/en.json
  services/frontend/src/language/es.json
  services/frontend/src/routes/block-producers/block-producer-rate.js
Labels: i18n
