Repository eoscostarica/eos-rate, pull requests merged in 2020-02, with the labels that each got.

#279 Fix/178 rating
  services/demux/README.md
  services/demux/package.json
  services/demux/src/handlerVersions/v1/index.js
  services/demux/yarn.lock
  services/frontend/.env
  services/frontend/.env.staging
  services/frontend/package.json
  services/frontend/src/components/block-producer-card.js
  services/frontend/src/components/block-producer-radar.js
  services/frontend/src/language/en.json
  services/frontend/src/language/es.json
  services/frontend/src/models/BlockProducer/blockProducers.js
  services/frontend/src/models/BlockProducer/mutation_insert_user_rating.js
  services/frontend/src/models/BlockProducer/mutation_update_user_rating.js
  services/frontend/src/models/BlockProducer/query_get_bp_rating_by.js
  services/frontend/src/models/BlockProducer/query_get_producer_by.js
  services/frontend/src/models/blockProducers.js
  services/frontend/src/models/index.js
  services/frontend/src/routes/block-producers/block-producer-rate.js
  services/frontend/src/services/bps.js
  services/frontend/src/services/eosjs-api.js
  services/frontend/src/utils/getBPRadarData.js
  services/frontend/src/utils/getRgbColorsFromHex.js
  services/frontend/yarn.lock
  services/hasura/migrations/1581704802407_join_producer_ratings_stats/down.yaml
  services/hasura/migrations/1581704802407_join_producer_ratings_stats/up.yaml
  services/update-bps/getBlockchainRatings.js
  services/update-bps/index.js
  services/update-bps/testData.js
  services/update-bps/updateRatingsDb.js
  yarn.lock
Labels: front-end

#270 21 voter logic with unit tests, no json
  contracts/rateproducer/README.md
  contracts/rateproducer/rapidjson/allocators.h
  contracts/rateproducer/rapidjson/document.h
  contracts/rateproducer/rapidjson/encodedstream.h
  contracts/rateproducer/rapidjson/encodings.h
  contracts/rateproducer/rapidjson/error/en.h
  contracts/rateproducer/rapidjson/error/error.h
  contracts/rateproducer/rapidjson/filereadstream.h
  contracts/rateproducer/rapidjson/filewritestream.h
  contracts/rateproducer/rapidjson/fwd.h
  contracts/rateproducer/rapidjson/internal/biginteger.h
  contracts/rateproducer/rapidjson/internal/diyfp.h
  contracts/rateproducer/rapidjson/internal/dtoa.h
  contracts/rateproducer/rapidjson/internal/ieee754.h
  contracts/rateproducer/rapidjson/internal/itoa.h
  contracts/rateproducer/rapidjson/internal/meta.h
  contracts/rateproducer/rapidjson/internal/pow10.h
  contracts/rateproducer/rapidjson/internal/regex.h
  contracts/rateproducer/rapidjson/internal/stack.h
  contracts/rateproducer/rapidjson/internal/strfunc.h
  contracts/rateproducer/rapidjson/internal/strtod.h
  contracts/rateproducer/rapidjson/internal/swap.h
  contracts/rateproducer/rapidjson/istreamwrapper.h
  contracts/rateproducer/rapidjson/memorybuffer.h
  contracts/rateproducer/rapidjson/memorystream.h
  contracts/rateproducer/rapidjson/msinttypes/inttypes.h
  contracts/rateproducer/rapidjson/msinttypes/stdint.h
  contracts/rateproducer/rapidjson/ostreamwrapper.h
  contracts/rateproducer/rapidjson/pointer.h
  contracts/rateproducer/rapidjson/prettywriter.h
  contracts/rateproducer/rapidjson/rapidjson.h
  contracts/rateproducer/rapidjson/reader.h
  contracts/rateproducer/rapidjson/schema.h
  contracts/rateproducer/rapidjson/stream.h
  contracts/rateproducer/rapidjson/stringbuffer.h
  contracts/rateproducer/rapidjson/writer.h
  contracts/rateproducer/rateproducer.cpp
  contracts/tests/package.json
  contracts/tests/test.js
  contracts/tests/test_average.js
Labels: help wanted, smart-contracts

#291 restore demux docker service
  .travis.yml
  docker-compose.staging.yml
  docker-compose.yml
  scripts/start.sh
  services/demux/.dockerignore
  services/demux/.env
  services/demux/.eslintrc.json
  services/demux/Dockerfile
  services/demux/package-lock.json
  services/demux/package.json
  services/demux/src/handlerVersions/v1/index.js
  services/demux/src/index.js
  services/demux/utils/wait
  services/demux/yarn.lock
  services/frontend/.env.staging
  services/frontend/package.json
Labels: demux

#289 Add website texts
  contracts/tests/yarn.lock
  services/update-bps/websiteTexts.js
Labels: DON'T MERGE, WIP

#303 Update ratings stats table
  services/update-bps/package.json
  services/update-bps/update-ratings.js
  services/update-bps/yarn.lock
  yarn.lock
Labels: backend

#313 Add hasura actions
  docker-compose.staging.yml
  docker-compose.yml
  services/hapi/src/index.js
  services/hasura/migrations/1582950844052_create_action_rateProducer/down.yaml
  services/hasura/migrations/1582950844052_create_action_rateProducer/up.yaml
  services/hasura/migrations/1582994080171_modify_action_rateProducer_to_rateProducer/down.yaml
  services/hasura/migrations/1582994080171_modify_action_rateProducer_to_rateProducer/up.yaml
  services/hasura/migrations/1582994256642_modify_action_rateProducer_to_rateProducer/down.yaml
  services/hasura/migrations/1582994256642_modify_action_rateProducer_to_rateProducer/up.yaml
  services/hasura/migrations/1583004430995_modify_action_rateProducer_to_rateProducer/down.yaml
  services/hasura/migrations/1583004430995_modify_action_rateProducer_to_rateProducer/up.yaml
  services/hasura/migrations/1583004453318_modify_action_rateProducer_to_rateProducer/down.yaml
  services/hasura/migrations/1583004453318_modify_action_rateProducer_to_rateProducer/up.yaml
  services/hasura/migrations/1583004636939_modify_action_rateProducer_to_rateProducer/down.yaml
  services/hasura/migrations/1583004636939_modify_action_rateProducer_to_rateProducer/up.yaml
Labels: backend
