Repository eoscostarica/eos-rate, pull requests merged in 2021-04, with the labels that each got.

#536 avoid statefulsets update errors on actions runs refs
  .github/workflows/push-master-environment.yaml
  .github/workflows/push-staging-environment.yaml
  makefile
Labels: ci-cd, devops, enhancement

#540 Disable demux
  kubernetes/demux-deployment.yaml
  kubernetes/demux-service.yaml
Labels: demux, devops

#542 add handler url from env var & other minor bug fixes
  .github/workflows/push-master-environment.yaml
  .github/workflows/push-staging-environment.yaml
  docker-compose.staging.yml
  docker-compose.yml
  services/frontend/.env
  services/frontend/.env.staging
  services/frontend/src/services/graphql.js
  services/hasura/migrations/.env
  services/hasura/migrations/metadata.yaml
Labels: bug

#545 Feat/add tx link
  scripts/fresh.sh
  services/frontend/.env
  services/frontend/src/config/index.js
  services/frontend/src/routes/block-producers/block-producer-rate.js
  services/frontend/src/routes/block-producers/styles.js
Labels: front-end
